/* --------------------------------

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 10%;
  font-family: "Avenir Next", sans-serif;
  color: #1a4f63;
  background-color: #ffffff; }

body, html {
  /* important */
  height: 100%;
  background-color: #fff; }

.container {
  max-width: 1200px;
  margin: 0px auto;
}

a {
  color: #eeeeee;
  text-decoration: none; }

h1 {
  font-size: 2.25rem;
  font-weight: 600;
  color: #4A4A4A;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 1.7rem;
  font-weight: 400; }

h3 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 3rem; }

h4 {
  font-family: "Oswald", sans-serif;
  font-size: 2rem; }

header {
  display: flex;
  height: 120px;
}

.site-header {
  flex: 1;
}

nav {
  flex:4;
  justify-content: space-around;
  font-size: 18px;
  color: #4A4A4A;
}

.flex-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-grid .col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-grid-thirds {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-grid-thirds .col {
  width: 32%;
}

@media (max-width: 400px) {
  .flex-grid-thirds {
    display: block;
  }

  .flex-grid-thirds .col {
    width: 100%;
    margin: 0 0 10px 0;
  }
}
* {
  box-sizing: border-box;
}

.col {
  background: salmon;
  padding: 20px;
}
