@import 'bourbon'; // http://bourbon.io/

@import 'neat/neat'; // neat grid for bourbon

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries

@import '../partials/circliful'; // clock styling

@import '../partials/icons'; // clock styling

@import '../partials/social'; // social media / contact styling

@import '../partials/skills'; //  skillz dat killz / skill section styling

@import '../partials/ribbon'; // ribbon styling



/* --------------------------------

Primary style

-------------------------------- */

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
	@include box-sizing(border-box);
}

body {
	font: {
		size: 10%;
		family: $header-font; // variables inside partials > _variables.scss
	}
	color: $color-1;
	background-color: $color-4;
}

body, html {
	/* important */
	height: 100%;
	background-color: #000;
}

a {
	color: $color-3;
	text-decoration: none;
}

h2 {
	@include header-font;
	font-size: 1.7rem;
	font-weight: 400;
}

h3 {
	@include header-font;
	text-align: center;
	// font-weight: bold;
	font-size: 3rem;
}

h4 {
	@include header-font;
	// font-weight: bold;
	font-size: 2rem;
}

p, li {
	@include pl-text;
	font-weight: 400;
}

.intro-text {
	margin: 0px auto;
	margin-top: 400px;
	text-align: center;

	p {
		font-size: 1.2rem;
		color: #fff;
		margin-top: 30px;
		text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
	}
}

/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */

.cd-container { /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
	width: 90%;
	max-width: $M; // breakpoints inside partials > _layout.scss
	margin: 0 auto;

	&::after { /* clearfix */
		content: '';
		display: table;
		clear: both;
	}
}

.cd-container-columns {
	max-width: 1170px;
	margin: 0 auto;

	.cd-container-right, .cd-container-left{
			@include span-columns(12);
			@include shift(0);
			text-align: center;
			padding: 20px 0;
		}

	@include MQ(M) {

		.cd-container-left {
		@include span-columns(5);
		@include shift(1);
		padding: 40px 0;
	}
	.cd-container-right {
		@include span-columns(5);
		padding: 40px 0;
	}
	}
}

/* --------------------------------

Main components

-------------------------------- */

.cd-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $header-height-S;
	background: rgba($color-4, .95);
	box-shadow: 0 1px 2px rgba(#000, .2);
	z-index: index($main-elements, navigation); // see partials > _variables.scss
	@include clearfix;

	#cd-logo {
		float: left;
		margin: 0px 0 0 5%;

		img {
			display: block;
		}
	}

	@include MQ(M) {
		height: $header-height-M;

		#cd-logo {
			margin: 0px 0 0 5%;
		}
	}
}

.cd-main-nav {
	float: right;
	margin-right: 5%;
	width: 44px;
	height: 100%;
	background: url('../img/cd-icon-menu.svg') no-repeat center center;
	background-size: 36px 36px;
	cursor: pointer;

	ul {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		@include transform(translateY(-100%));

		&.is-visible {
			@include transform(translateY($header-height-S));
		}
	}

	a {
		display: block;
		height: $header-height-S;
		line-height: $header-height-S;
		padding-left: 5%;
		background: #333;
		-moz-box-shadow:    inset 0 0 100px #000000;
   		-webkit-box-shadow: inset 0 0 100px #000000;
   		box-shadow:         inset 0 0 100px #000000;
		border-top: rgba(250,250,250,0.8);
		color: #fff;
		font-size: .9rem;
	}

	@include MQ(M) {
		width: auto;
		height: auto;
		background: none;
		cursor: auto;

		a {
		display: block;
		height: $header-height-S;
		line-height: $header-height-S;
		padding-left: 5%;
		background: none;
		-moz-box-shadow:    none;
   		-webkit-box-shadow: none;
   		box-shadow:         none;
		border-top: none;
		color: #333;
		font-size: .9rem;
	}

		ul {
			position: static;
			width: auto;
			@include transform(translateY(0));
			line-height: $header-height-M;

			&.is-visible {
				@include transform(translateY(0));
			}
		}

		li {
			display: inline-block;
			margin-left: 1em;
		}

		a {
			display: inline-block;
			height: auto;
			line-height: normal;
			background: transparent;
			padding: .6em 1em;
			border-top: none;
			color: $color-1;
			text-transform: uppercase;
			font-weight: bold;
			@include font-size(14px);

			.no-touch &:hover {
				color: $color-2;
			}
		}
	}
}

.cd-main-content {
	/* you need to assign a min-height to the main content so that the children can inherit it*/
	height: 100%;
	position: relative;
	z-index: index($main-elements, main-content); // see partials > _variables.scss
}

.is-hidden{
	visibility: none;
}

.cd-fixed-bg {
	position: relative;
	min-height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: index($bg-elements, fixed-bg); // see partials > _variables.scss

	h2 {
		position: absolute;
		@include center;
		margin-top: 200px;
		width: 90%;
		max-width: $L;
		text-align: center;
		@include font-size(30px);
		text-shadow: 0 1px 3px rgba(#000, .3);
		color: $color-4;
	}

	&.cd-bg-1 {
		background-image: url('../img/cd-background-1.jpg');
	}

	&.cd-bg-2 {
		background-image: url('../img/cd-background-2.jpg');
	}

	&.cd-bg-3 {
		background-image: url('../img/cd-background-3.jpg');
	}

	&.cd-bg-4 {
		background-image: url('../img/cd-background-4.jpg');
	}

	@include MQ(M) {
		h1, h2 {
			font-size: 36px;
		}
	}

	@include MQ(L) {
		background-attachment: fixed;

		h1, h2 {
			font-size: 48px;
			font-weight: 300;
			color: #fff;
			text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
		}
	}
}

.cd-scrolling-bg {
	position: relative;
	// min-height: 100%;
	// padding: 4em 0;
	line-height: 1.6;
	box-shadow: 0 0 50px rgba(#000, .5);
	z-index: index($bg-elements, scrolling-bg); // see partials > _variables.scss

	&.cd-color-1 {
		background-color: $color-1;
		color: lighten($color-1, 40%);
	}

	&.cd-color-2 {
		background-color: $color-2;
		color: $color-1;
	}

	&.cd-color-3 {
		background-color: $color-3;
		color: $color-1;
	}

	@include MQ(M) {
		@include font-size(20px);
		line-height: 2;
		font-weight: 300;
	}
}

.cd-scrolling-bg-no-padding {
	position: relative;
	min-height: 100%;
	padding: 0em 0;
	line-height: 1.6;
	box-shadow: 0 0 50px rgba(#000, .5);
	z-index: index($bg-elements, scrolling-bg); // see partials > _variables.scss

	&.cd-color-1 {
		background-color: $color-1;
		color: lighten($color-4, 40%);
	}

	&.cd-color-2 {
		background-color: $color-2;
		color: $color-4;
	}

	&.cd-color-3 {
		background-color: $color-3;
		color: $color-4;
	}

	@include MQ(M) {
		padding: 0em 0;
		@include font-size(20px);
		line-height: 2;
		font-weight: 300;
	}
}

#about {
	padding: 10px;
	min-height: 1220px;
	.cd-container-left, .cd-container-right {

	a img {
		max-width: 300px;
	}
	li {
	  @include pl-text;
	  font-size: 1rem;
	  line-height: 2.2rem;
	}

	h2 {
		line-height: 3rem;
		margin-top: 15px;
	}
	}

	@include MQ(S) {
		h3 {
			font-size: 2rem;
		}
	}

	@include MQ(M) {
		min-height: 700px;
	}

	@include MQ(L) {
		h3 {
			font-size: 3rem;
		}
	}
}

#resume {
	min-height: 1650px;
	padding: 10px;

	p, li{
	color: $color-2;
	line-height: 1.5rem;
	}
	li{
	line-height:3rem;
	font-weight: 400;
	}

	h4.resume-header{
		@include span-columns(8);
		@include shift(4);
	}

	.employment {
		@include span-columns(12);
		margin-top: 30px;

		p {
			font-weight: 400;
			color: #333;
		}

		.employer {
			margin: 20px 5px 0 0;
			font-size: 1rem;
			text-align: justify;
			img {
				max-width: 150px;
			}
		}
	}

	.oaa {
		@include span-columns(12);
		margin-top: 30px;

		ul{
			list-style-position: inside;
			margin-top: 10px;
			columns: 2;
			-webkit-columns: 2;
			-moz-columns: 2;
		}
		li {
			list-style-type: none;
			padding-left: 50px;
			font-size: 1rem;
			text-transform: uppercase;
		}


	}

	@include MQ(S) {
		min-height: 1550px;
	}

	@include MQ(M) {
		min-height: 900px;
		.skills {
			@include span-columns(3.5);
		}

		.employment {
			@include span-columns(5);
			margin-top: 0px;
			.employer {
				margin: 20px 40px 0 0;
				text-align: left;
			}
		}

		.oaa {
			@include span-columns(3);
			margin-top: 0px;

			ul {
				columns: 1;
				  -webkit-columns: 1;
				  -moz-columns: 1;
			}
		}
	}

	@include MQ(L){
		.slider-range-min {
		    width: 90%;
		}

	}
}

#youtubeNosound {
	top: 10px;

	@include MQ(M){
		top: 0px;
	}
}
