// Icons from directory ""
%icon {
	list-style-repeat: no-repeat
}
.icon-greek,
.icon-greek\:regular {
	@extend %icon;
	background: url('../svg/greek.svg') left center no-repeat;;

}
.icon-scuba,
.icon-scuba\:regular {
	@extend %icon;
	background: url('../svg/scuba.svg') left center no-repeat;;

}
.icon-idea,
.icon-idea\:regular {
	@extend %icon;
	background: url('../svg/idea.svg') left center no-repeat;;

}
.icon-ncaa,
.icon-ncaa\:regular {
	@extend %icon;
	background: url('../svg/ncaa.svg') left center no-repeat;;

}
.icon-quad,
.icon-quad\:regular {
	@extend %icon;
	background: url('../svg/quad.svg') left center no-repeat;;

}
.icon-scroll,
.icon-scroll\:regular {
	@extend %icon;
	background: url('../svg/scroll.svg') left center no-repeat;;

}
.icon-skate,
.icon-skate\:regular {
	@extend %icon;
	background: url('../svg/skate.svg') left center no-repeat;;

}
.icon-skydive,
.icon-skydive\:regular {
	@extend %icon;
	background: url('../svg/skydive.svg') left center no-repeat;;

}
.icon-snow,
.icon-snow\:regular {
	@extend %icon;
	background: url('../svg/snow.svg') left center no-repeat;;

}
.icon-surf,
.icon-surf\:regular {
	@extend %icon;
	background: url('../svg/surf.svg') left center no-repeat;;

}
.icon-wake,
.icon-wake\:regular {
	@extend %icon;
	background: url('../svg/wake.svg') left center no-repeat;;

}