$parallax-window-height: 550px;
$parallax-background-height: $parallax-window-height * 1.2;

.parallax-window {
  max-height: $parallax-window-height;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.parallax-static-content {
  color: #9A9A8A;
  padding: 5em 0;
  position: relative;
  z-index: 9;
  color: #fff;
}

.parallax-background {
  background: url("/images/background-3.gif") no-repeat;
  background-position: top;
  background-size: cover;
  background-color: beige;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;
}

// Based on http://codepen.io/skeurentjes/
