.axis, .tick {
  color: #fff;
  fill: #fff;

  text {
    font-weight: bold;
    size: 16px;
    font-family: 'Avenir Next';
  }

  path {
    stroke: #ccc;
  }
}

.line {
  fill: none;
  stroke-width: 2px;
}
