.ribbon-box {
  @include size(100%);
  border: 1px solid #bbb;
  position: relative;
  z-index: 10000;
}

.ribbon-wrapper {
  $base-accent-color: #111111 !default;
  $ribbon-background: $base-accent-color;
  $ribbon-size: 150px;

  @include size($ribbon-size);
  // overflow: hidden;
  position: fixed;
  right: -5px;
  top: 55px;

  .ribbon {
    @include transform(rotate(45deg));
    background-color: $ribbon-background;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: .9rem;
    font-weight: 800;
    left: -5px;
    line-height: 1.5em;
    padding: 10px 7px;
    position: relative;
    text-align: center;
    top: 35px;
    width: 200px;
    z-index: 10000;
  }
}
