.page-title {
  margin-top: 100px;
  @include span-columns(12);
}
text {
  stroke: none;
}

.selected {
  font-weight: 600;
}

#mainbarchart {
  height: 410px;
  margin-top: 0px;
  @include span-columns(7);

  .axis, .tick {
    color: #fff;
    fill: #fff;

    line {
      height: 20px;
    }

    text {
      font-weight: bold;
      size: 16px;
      font-family: 'Avenir Next';
      margin-top: 10px;
    }

    .domain {
      stroke: none;
    }

    path {
      stroke: #ccc;
      color: #fff;
    }
  }
}

#sidechart {
  height: 300px;
  @include span-columns(3);

  svg {
    height: 100%;
    width: 100%;
  }
}

#mallgrabs {
  height: 300px;
  @include span-columns(2);
  margin-top: 60px;

  svg {
    margin-left: 20px;
  }

  #dismount {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
  }

  p {
    font-size: 24px;
    line-height: 36px;
  }
}


.rundown {
  height: 400px;
  @include span-columns(12);
}
